
<h1 class="texto botonera m-3">Editar productos</h1>
<form action="/editProducts" method="post" enctype="multipart/form-data">
<input class="btn-dark m-2" placeholder="Ingresar Nombre" name="nombre">
<input class="btn-dark m-2" placeholder="Ingresar Precio" type="number" name="precio">
<input class="btn-dark m-2" placeholder="Ingresar Stock" type="number" name="stock">
<input class="btn-dark m-2" type="file" name="url" accept="image/x-png,image/gif,image/jpeg">
<button class="btn-dark m-2" type="submit">Crear Producto</button>

</form>

<div class="contenedor m-3 row justify-content-center">
{{#each products}}
        <div class="tarjet col-2 m-4 hardware" id="tarjeta0">
          <img class="img-fluid" src="./img/products/{{url}}">
          <div class="texto m-1">
            <h5>{{nombre}}</h5>
            <p>${{precio}}</p>
            <p>Stock{{stock}}</p>
                   
        <form action="/editProducts?_method=PUT" method="post">
        <input type="hidden"  name="_id" value= {{_id}}> 
          <h6 class="texto m-1">Nombre</h6>
          <input class="m-1 btn-dark" name="nombre" placeholder= {{nombre}}>
          <h6 class="texto m-1">El Precio es $</h6>
          <input class="m-1 btn-dark" name="precio" placeholder= {{precio}}>
          <h6 class="texto m-1">Tiene un Stock de</h6>
          <input class="m-1 btn-dark" name="stock" placeholder= {{stock}}>
          <button class="m-1 btn-dark" type="submit">Actualizar</button>
        </form>
    <form action="/editProducts?_method=delete" method="post">
  <input type="hidden" name="_id" value={{_id}}>
  <button class="m-1 btn-dark" type="submit">Borrar Producto</button>  
</form>

        </div>
</div>
           


{{/each}}
</div>