<h1>Hola!!!</h>
<div class="contenedor m-3 row justify-content-center">
{{#each products}}
 
        <div class="tarjet col-2 m-4 hardware" id="tarjeta0">
          <img class="img-fluid" src="./img/pedal-de-bombo-sonor-jojo-mayer-pb.jpg">
          <div class="texto">
            <h5>{{title}}</h5>
            <p id="info0">{{description}}</p>
            <p>el precio del producto es: ${{price}} y tiene un stock de: {{stock}} </p>
            <form action="/carrito?_method=PUT" method="post">
              <input type="hidden" name="id" value={{id}}>
              <input type="hidden" name="name" value={{name}}>
              <input type="hidden" name="price" value={{price}}>
              <input type="hidden" name="cantidad" max={{stock}}>
              <button type="submit">Agregar al carrito</button>

            <a href=".comprar"><button class="btn btn-dark">Carrito</button></a>
          </div>
        </div>
  {{/each}}
</div>     
           
        
       